body {
    font-family: sans-serif;
}
a {
    color: rgba(30, 10, 60, 0.8);
}
h1 a {
    text-decoration: none;
}
h1 {
    margin: 1rem 0;
}
h2 {
    margin-top: 2em;
    padding-bottom: 2px;
    color: #4a90e2;
}
iframe {
    width: 100%;
}
article {
    max-width: 800px;
    margin: 0 auto;
    color: #333;
}

form {
    border-left: 2px solid;
}
form p {
    margin-left: 1.5em;
}
input {
    padding: 2px 5px;
}
input[name="amount"] {
    width: 5em;
    text-align: center;
}
small {
    margin-left: 0.5em;
    color: #666;
}
pre {
    overflow-x: scroll;
    background: rgb(240, 240, 240);
}
code {
    background: rgb(240, 240, 240);
    padding: 0 2px;
}
#intro {
    line-height: 1.5em;
}
.messages {
    font-weight: bold;
    color: rgba(0,0,0,0.8);
}
.info {
    background: #eeeeee;
}
.warning {
    background: #ffed84;
}
.error {
    background: #ff9c84;
}
.success {
    background: #84ff97;
}
.highlight {
    background: rgba(255, 200, 0, 0.2);
    margin: 0 -0.5em;
    padding: 5px 0.5em;
}
ul.messages {
    list-style: none;
    padding: 0;
}
.messages li, .messages p {
    padding: 5px;
}
