@import 'normalize';
@import 'skeleton';

body {
  background-color: #0C2643;
  color: rgba(255,255,255,.85);
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Mono', monospace;
}
/* PREVIOUS STYLES */
/*
body {
    //color: #333;
}
a {
    //color: rgba(30, 10, 60, 0.8);
}
iframe {
    width: 100%;
}
pre {
    overflow-x: scroll;
    background: rgb(240, 240, 240);
}
code {
    background: rgb(240, 240, 240);
    padding: 0 2px;
}
.messages {
    font-weight: bold;
    color: rgba(0,0,0,0.8);
}
.info {
    background: #eeeeee;
}
.warning {
    background: #ffed84;
}
.error {
    background: #ff9c84;
}
.success {
    background: #84ff97;
}
.highlight {
    background: rgba(255, 200, 0, 0.2);
}
ul.messages {
    list-style: none;
    padding: 0;
}
.messages li, .messages p {
    padding: 5px;
}*/
