@import 'normalize';
@import 'skeleton';

$highlight:        #FEDF79 !default;
$ethereum-blue:    #4A90E2 !default;
$background:       #0C2643 !default;
$link-color:       #79E4F0 !default;
$link-color-dark:  #2B97A3 !default;

$error-color: #ff9c84;
$warning-color: #ffed84;
$info-color: #eeeeee;
$success-color: #84ff97;

$monospace:        'PT Mono', monospace;
$sans-serif:       'PT Sans', sans-serif;

body {
  background-color: $background;
  color: rgba(255,255,255,.85);
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 400px) {
  body {
    overflow-x: hidden;
    font-size: 1.5em;
  }
}

h1, h2 { font-family: $monospace; }
h3, h4, h5, h6 { font-family: $sans-serif; }
h3 { color: $ethereum-blue; }

a {
  color: $link-color;
  text-decoration: none;
  transition: 0.2s;
}

// Override skeleton
p {
  margin: 0.25em 0 0.5em 0;
}
button {
  padding: default;
}

.hl1, .hl2 { font-weight: bold; }
.hl1 { color: $highlight; }
.hl2 { color: $ethereum-blue; }

code, pre { font-family: $monospace; }

hr {
  @extend .bumped-in;
  border-width: 0;
  height: 5px;
  background: lighten($background, 5%);
  margin-top: 5em;
  margin-bottom: 5em;
}

input {
  color: #0c2643;
}

.button, input[type="submit"] {
  background-color: lighten($background, 5%);
  border-color: lighten($background, 5%);
  color: $link-color;
  transition: 0.2s;
  &:hover {
    background-color: lighten($background, 10%);
    border-color: lighten($background, 10%);
    color: lighten($link-color, 10%);
  }
}

.button.button-primary, input[type="submit"].button-primary {
  background-color: $ethereum-blue;
  border-color: $ethereum-blue;
  &:hover {
    background-color: darken($ethereum-blue, 10%);
    border-color: darken($ethereum-blue, 10%);
  }
}

.button-small, input[type="submit"].button-small {
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  font-size: 12px;
}

.all-caps {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.full-width {
  margin-left: -12.5%;
  margin-right: -12.5%;
  padding-left: 12.5%;
  padding-right: 12.5%;
}

.text-center {
  text-align: center;
}

.white-background { background-color: #fff; }

.tooltip {
  position: relative;
  background: url(~/img/tooltip.png) top left no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  background-size: cover;
  cursor: pointer;

  .tooltip-body {
    color: #0C2643;
    background-color: #fff;
    border: 1px solid $highlight;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    position: absolute;
    bottom: 38px;
    left: 50%;
    transform: translateX(-39.5%); // FIXME: Hack inline on amount tooltip
    min-width: 250px;
    p {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      line-height: 1.3;
    }
    code {
      font-size: 1.1rem;
      color: #444;
      background-color: transparent;
      padding: 0;
      margin: 0;
      border: 0;
    }
    .button-primary {
      @extend .button-small;
      margin-bottom: 0;
    }
    &::before {
      content:"";
      position:absolute;
      bottom:-20px;
      left:35%;
      border-width: 20px 20px 0;
      border-style: solid;
      border-color: $highlight transparent;
    }
    &::after {
      content:"";
      position:absolute;
      bottom:-17px;
      left:35%;
      border-width:20px 20px 0;
      border-style:solid;
      border-color:#fff transparent;
    }
  }

  @media (max-width: 600px) {
      .tooltip-body code { white-space: normal; }
  }

  @media (max-width: 400px) {
    .tooltip-body {
      max-width: 20vw;
      overflow-x: scroll;
      overflow-y: hidden;
    }
  }
}

@media (max-width: 1024px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 961px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 960px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (max-width: 400px) {
  .hidden-sm-down {
    display: none !important;
  }
}

.bumped-in {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1000px) {
  .bumped-in { width: 85%; }
}

@media (max-width: 750px) {
  .bumped-in { width: auto; }
}

ul.messages {
    list-style: none;
    padding: 0;

    li, p {
      padding: 0.4em 0.8em;
    }
}
.messages {
  color: rgba(0, 0, 0, 0.5);
  p, li {
    border-radius: 5px;
  }
  a {
    color: rgba(30, 30, 30, 0.6);
    text-decoration: underline;
  }
  .info {
    background: $info-color;
  }
  .warning {
    background: $warning-color;
  }
  .error {
    background: lighten($error-color, 15%);
    border: 1px solid $error-color;
    color: darken($error-color, 15%);
  }
  .success {
    &::before {
      content: "👍";
    }
    background: $success-color;
  }
}

.input-text { // override if skeleton is being weird
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  color: #0C2643;
  border: 1px solid #4A90E2;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.contract {
  font-size: 1.8rem;
  color: #0C2643;
  background-color: #fff;
  h2 {
    color: $ethereum-blue;
    font-size: 2.5rem;
  }
  input {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  input[type="text"] {
    margin-right: 0.2em;
  }
  span { color: #999; }
  input[type="submit"] {
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-bottom: 0;
  }
  small { display: block; margin-top: 1em;}
  a { color: $link-color-dark; }

  .row {
    display: flex;
    flex-flow: row;
  }
}

/* HEADER */
.nav {
  margin-top: 1em;
  #logo-container {
    position: relative;
    left: -31px;
  }
  h1 {
    margin-bottom: 0;
    #vipnode-logo {
      max-width: 150px;
    }
  }
  h2 {
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: 0.05em;
    position: relative;
    top: -10px;
    left: 34px;
    max-width: 360px;
    font-family: $sans-serif;
    color: rgba(255,255,255,.70);
    margin-bottom: 0;
  }
  ul {
    list-style: none;
    text-align: right;
    margin-top: 2.0em;
    li {
      display: inline-block;
      font-weight: bold;
      padding: 0 0 0 2em;
      margin-left: 1em;
      font-size: 1.6rem;
      a {
        @extend .all-caps;
        color: #fff;
        &:hover {
          color: $link-color;
        }
      }
      a.button {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 1200px) {
  .nav ul li {
    padding-left: 1em;
    font-size: 1.4rem;
  }
}

@media (max-width: 850px) {
  #logo-container, .nav nav {
    width: 100% !important;
    float: none;
  }
  #logo-container {
    h2 {
      max-width: 100%;
    }
  }
  .nav nav {
    margin-left: 0;
    ul {
      text-align: left;
      margin-top: 0;
      margin-bottom: 0;
      li {
        padding-left: 0;
        padding-right: 2em;
        margin-left: 0;
        font-size: 1.3rem;
        .button-primary {
          height: 30px;
          line-height: 30px;
          padding: 0 15px;
          margin-left: -15px;
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .nav {
    #logo-container {
      left: -15px;
    }
    nav ul li {
      padding-right: 1em;
      .button-primary {
        margin-left: 0;
      }
    }
  }
}

/* CONTENT */
.container article {
  margin-top: 3em;
}

@media (max-width: 400px) {
  .container article {
    margin-top: 2em;
  }
}

/* FOOTER */
#footer {
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 2em;
  margin-top: 5em;
  margin-bottom: 1em;
  nav ul {
    list-style: none;
    column-count: 2;
    li {
      font-size: 1.6rem;
      margin-bottom: 0.5rem;
    }
    a.button {
      margin-left: -15px;
      margin-bottom: 5px;
    }
  }
  .footer-newsletter {
    text-align: right;
    p {
      font-size: 1.6rem;
      margin-bottom: 10px;
    }
    form {
      font-size: 1.4rem;
      input {
        height: 32px;
        line-height: 32px;
        width: 250px;
      }
      input[type="submit"] {
        margin-left: 10px;
        width: auto;
      }
    }
  }
}

@media (max-width: 400px) {
  #footer {
    .footer-newsletter {
      text-align: left;
      margin-top: 1em;
      form input[type="text"] {
        width: 100%;
      }
      form input[type="submit"] {
        margin-left: 0;
      }
    }
  }
}

/* INDEX */
.index-form {
  background: url('~/img/form-bg.png') top center repeat-y;
  padding-left: 12.5%;
  padding-right: 12.5%;
  margin-top: -1em;
}

@media (max-width: 850px) {
  .index-form {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

#intro {
  padding-right: 3em;
  p { margin-bottom: 1.5em; }
  h2 {
    font-size: 3rem;
    margin-top: 1.5em;
  }
}

@media (max-width: 850px) {
  #intro {
    padding-right: 0;
    margin-bottom: 2em;
    h2 { margin-top: 0; }
  }
}

@media (max-width: 400px) {
  #intro {
    h2 {
      font-size: 2.0rem;
    }
  }
}

.index-form .contract {
  margin-right: 0;
  display: inline-block;
  margin: 2.5em 0 2.5em 2em;
}

@media (min-width: 1000px) and (max-width: 1650px  ) {
  .contract h2 { max-width: 350px; }
}

@media (max-width: 1000px) {
  #intro {
    width: 100%;
    float: none;
    margin-bottom: 2em;
  }
  .index-form {
    background: none;
    #get-started {
      float: none;
      width: 100vw;
      margin-left: -12.5%;
      background-color: #fff;
      .contract {
        margin-left: 10%;
        margin-right: 10%;
      }
    }
  }
}

@media (max-width: 550px) {
  .index-form {
    #get-started {
      margin-left: -8.8%;
      .contract {
        margin-left: 6.25%;
        margin-right: 6.25%;
      }
    }
  }
}

@media (max-width: 400px) {
  .index-form {
    #get-started {
      margin-left: -20px;
      .contract {
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
}

#features {
  margin: 6em 0 5em 0;
  display: grid; // There Andrey, I did CSS Grid :P
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
  .box {
    background-color: rgba(255,255,255,.05);
    padding: 0 20px 20px 20px;
    margin-top: 1em;
    .sq {
      width: 50px;
      height: 50px;
      margin: 0 auto -10px auto;
      background-color: $ethereum-blue;
      position: relative;
      top: -26px;
    }
    .sq.teal { background-color: #2B97A3; }
    .sq.orange { background-color: #E75326; }
    .sq.yellow { background-color: #E4D785; }
    h3 {
      font-size: 2.5rem;
      margin-bottom: 0.2em;
      color: #fff;
    }
    p {
      font-size: 1.6rem;
      line-height: 1.8;
    }
  }
}

@media (min-width: 1000px) {
  #features { grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }
}

@media (max-width: 400px) {
  #features {
    margin-top: 3em;
  }
}

#roadmap {
  margin: 5em auto;
  padding: 0;

  h2 {
    @extend h1;
  }

  ul {
    margin-bottom: 3px;

    li {
      &.current {
        background-color: $ethereum-blue;
      }
      &.current::before {
        // Triangle
        content: "";
        width: 0;
        height: 0;
        top: 50%;
        margin-top: -30px;
        position: absolute;
        margin-left: -4.5em;
        border-style: solid;
        border-width: 30px 0 30px 20px;
        border-color: transparent transparent transparent $background;
      }

      list-style: none;
      background-color: #2A598F;
      margin-bottom: 3px;
      padding: 1em 2em 1em 4.5em;
      position: relative;

      .icon {
        position: absolute;
        margin-left: -2em;
        line-height: 1em;
        vertical-align: middle;
        &::before {
          content: "";
        }
      }
      .icon.done {
        &::before {
          content: "\02714";
        }
      }
      .icon.progress {
        &::before {
          content: "👷";
        }
      }

      h4, h4 a{
        color: $highlight;
        font-family: $monospace;
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 0;
      }
      p {
        font-size: 1.5rem;
        margin-bottom: 0;
      }
    }
  }
  .latest {
    padding: 2em 2em 1.5em 2em;
    .date {
      font-size: 1.2rem;
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0.5em;
    }
    a {
      border-bottom: 1px solid $link-color;
      &:hover {
        color: #fff;
        border-bottom: 1px solid rgba(255,255,255,0.5);
      }
    }
  }
}

@media (max-width: 450px) {
  #status { width: 97.6vw; margin-left:-9.5%; }
}

#newsletter {
  @extend .bumped-in;
  margin: 5em auto;
  h2 {
    font-size: 2.6rem;
  }
  form {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 1em;
    margin-bottom: 0;
    p { margin-bottom: 0; }
  }
  p small {
    color: rgba(255,255,255,0.5);
    font-size: 1.4rem;
    position: relative;
    top: -10px;
  }
}

@media (max-width: 750px) {
  #newsletter {
    form {
      grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
      input { margin-bottom: 0; }
    }
    p small { top: 0; }
  }
}

@media (max-width: 400px) {
  #newsletter h2 { font-size: 2rem; }
}

#sponsors {
  margin-top: 5em;
  margin-bottom: -2em;
  h2 {
    @extend h1;
    margin-bottom: 1.5em;
  }
  img { max-width: 100%; }
  .placeholder {
    &::before {
      content: "+";
      line-height: 123px;
      color: rgba(255, 255, 255, 0.3);
    }
    width: 270px;
    height: 123px;
    border: 1px dashed rgba(255, 255, 255, 0.15);
  }
  .grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 20px;
  }
}

/* FAQ PAGE */
#faq {
  h3 {
    font-size: 2rem;
    margin-bottom: 0.2em;
  }
  p, li {
    font-size: 1.8rem;
    color: rgba(255,255,255,0.7);
  }
}

/* STATUS PAGE */
#status-dashboard-grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  grid-gap: 1em;
  div {
    background-color: rgba(255,255,255,.05);
    padding: 20px 20px 20px 20px;
    h3 {
      font-size: 1.8rem;
      margin-bottom: 0.5em;
    }
    p {
      font-size: 1.4rem;
      margin-bottom: 0;
    }
  }
}

#contract-pool {
  h2 {
    display: inline-block;
    margin: 0 1em 0 0;
  }
  h3 { margin-bottom: 1rem; }
  .button { margin-bottom: 0; }
  .contract {
    padding: 2em 0;
    margin-top: 2em;
    .balance-form {
      margin-bottom: 2em;
      form, input { margin-bottom: 0; }
      small { margin-top: 0; }
    }
  }
}

input.enode { width: 100%; }
input.amount { width: 10em; }
label.eth {
  font-size: 1.4rem;

  input {
    padding-right: 3em;
    //width: 180px;
  }

  &::after {
    color: rgba(0, 0, 0, 0.5);
    margin-left: -3.5em;
    content: "ETH";
  }
}
.balance {
  display: inline-block;
  margin-right: 1rem;
  width: 180px;
}
